<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ConnectionString"
     providerName="System.Data.ProviderName"
     connectionString="Host=containers-us-west-181.railway.app;Port=5457;Database=railway;Username=postgres;Password=8hW9GLBvcosfIKxTNVB3" />
  </connectionStrings>
</configuration>